﻿<div class="link-compressor">
  <div class="link-compressor__container">
    <h1>Compress you link</h1>
    <div class="link-compressor__link">
      <input type="text" placeholder="Put your link here" #link
        (keyup.enter)="compressLink(link.value)"
        (keyup)="clearCompressedInput()">
    </div>
    <div>
      <button type="button" class="btn btn-default" (click)="compressLink(link.value)">Compress</button>
      <button type="button" class="btn btn-default" routerLink="/links">Links</button>
    </div>
    <div class='link-compressor__compressed' *ngIf='compressedUrl'>
        <h1>Your compressed link</h1>
      <input type="text" [value]="compressedUrl"> 
    </div>
  </div>
</div>
