.link-compressor{
    background-color: #0074D9;
    color: white;
    padding: 1em;
    display: grid;
    margin: 5% 0;
}

.link-compressor button{
    margin-top: 2em;
    color: black;
}

.link-compressor__container{
    margin: 0% 25%;
}

.link-compressor__container input{
    width: 100%;
    padding: 0 16px;
    font-family: inherit;
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    border-radius: 2px;
    color: black;
}
