
<div class='panel panel-primary'>
  <div class='panel-body'>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    <h2>Your compressed links</h2>
    <button type="button" class="btn btn-default" routerLink="/">Home</button>
    <table>
      <thead>
        <tr>
          <th>Original Url</th>
          <th>Compressed Url</th>
          <th>Creation Date</th>
          <th>Count Usages</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let link of links'>
          <td><a href="{{link.originalUrl}}">{{link.originalUrl}}</a></td>
          <td><a href="{{hostName}}/{{link.shortUrl}}">{{hostName}}/{{link.shortUrl}}</a></td>
          <td>{{link.creationDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
          <td>{{link.countUsages}}</td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>