<div class="link-compressor" *ngIf='isErrorUrl'>
    <div class="link-compressor__container">
        <h1>Oops! This compressed url was not found</h1>
        
        <button type="button" class="btn btn-default" routerLink="/">Home</button>
        
    </div>
</div>